body
{
	/* background-color: gray; */
	background-color: #ccc;
}
hr
{
	height:10px;
	width:75%;
	background-color:gray;
	border-width:0px;
}
table, td
{
	border-width:1px;
	border-style:solid;
	border-color:black;
}
table
{
	width: 80%;
	border-collapse:collapse;
}
.doPrawej
{
	text-align:right;
}
#komorka7
{
	text-align:center;
}
